---
import { getCollection, getEntry } from "astro:content";
import { Picture } from "astro:assets";

import MarkdownPostLayout from "@layouts/MarkdownPostLayout.astro";

import FancyHeading from "@components/Elements/FancyHeading.astro";
import TagList from "@components/Blog/TagList.astro";
import BlogAside from "@components/Blog/BlogAside.astro";

import { format, formatDistanceToNow } from "date-fns";
import { de } from "date-fns/locale";

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  const paths = pages.map((page) => {
    return { params: { slug: page.slug || undefined }, props: page };
  });

  return paths;
}

const page = Astro.props;
const entry = await getEntry("blog", page.slug);

const { Content, headings } = await entry.render();

const readableDate = formatDistanceToNow(new Date(page.data.pubDate), {
  locale: de,
  addSuffix: true,
});
const exactDate = format(new Date(page.data.pubDate), "dd.MM.yyyy", {
  locale: de,
});

const series = entry.data.partOfSeries
  ? await getEntry("blog-series", entry.data.partOfSeries.id)
  : null;
---

<MarkdownPostLayout frontmatter={page.data}>
  <div class="flex">
    <div class="w-full md:basis-3/4">
      <FancyHeading color="blue" classList={["mb-2"]}>
        {page.data.title}
      </FancyHeading>
      <small class="block w-full text-center text-slate-500 dark:text-slate-400"
        >Veröffentlicht {readableDate} ({exactDate})</small
      >
      <TagList tags={page.data.tags} />

      <Picture
        class="w-full h-auto rounded-xl my-5"
        formats={["webp", "avif"]}
        widths={[400, 800, 1200]}
        sizes="(max-width: 1200px) 100vw, 1200px"
        src={entry.data.cover.src}
        alt={entry.data.cover.alt}
        width={800}
        height={250}
      />
      <p class="lead my-5">{page.data.lead}</p>
      <Content frontmatter={entry.data} />
    </div>
    <BlogAside headings={headings} series={series} currentPost={page.slug} />
  </div>
</MarkdownPostLayout>
