---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import { getTopSkills } from "@lib/cv-helpers";

import SkillsAsideItem from "./SkillsAsideItem.astro";

const cvEntries = await getCollection("cv-entries");
const { techSkills, methodSkills } = getTopSkills(cvEntries, {
    tech: 5,
    method: 3,
});
---

<style scoped>
    @reference "tailwindcss";

    .vertical-title {
        @apply text-center text-lg font-light rotate-180;
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }
</style>

<button
    class="fixed z-40 bottom-3 shadow-xl right-6 p-6 rounded-full bg-slate-300 dark:bg-slate-800 md:hidden"
    data-toggle-target="#skill-list"
>
    <Icon name="fa-solid:rocket" title="Show skills" aria-hidden={true} />
    <span class="sr-only">Show skills</span>
</button>

<div
    id="skill-list"
    class="hidden fixed z-50 rounded-2xl bottom-3 p-5 bg-slate-300 dark:bg-slate-800 md:rounded-none md:bottom-0 md:p-0 md:bg-transparent md:dark:bg-transparent md:relative md:flex md:flex-col"
>
    <button
        style="margin-right: 0.2em"
        class="fixed z-50 bottom-3 right-6 p-6 rounded-full bg-slate-300 dark:bg-slate-800 md:hidden"
        data-toggle-closer
    >
        <Icon name="fa-solid:times" title="Close skills" aria-hidden={true} />
        <span class="sr-only">Close skills</span>
    </button>
    <h2 class="mb-5 font-bold text-3xl">Skills</h2>
    <aside class="mb-10">
        <div class="flex relative">
            <h3 class="vertical-title">Technisch</h3>
            <ol class="unset pl-4 w-full relative">
                {
                    techSkills.map(([skill, score]) => (
                        <SkillsAsideItem skill={skill} score={score} />
                    ))
                }
            </ol>
        </div>
        <div class="flex pt-5 relative md:pt-10">
            <h3 class="vertical-title">Methodisch</h3>
            <ol class="unset pl-4 w-full relative">
                {
                    methodSkills.map(([skill, score]) => (
                        <SkillsAsideItem skill={skill} score={score} />
                    ))
                }
            </ol>
        </div>
    </aside>
</div>
