---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    label?: string;
    title: string;
    icon: string;
    color: string;
}

const { href, label, title, icon, color } = Astro.props;
---

<a
    class:list={[
        "unset flex items-center ml-3 rounded-xs transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-linear-to-r",
        `from-primary-${color} to-primary-${color}`,
        `dark:bg-none dark:hover:text-primary-${color}`,
    ]}
    href={href}
    target="_blank"
>
    <Icon
        class:list={["mr-1", "fill-curent"]}
        height={22}
        width={22}
        name={icon}
        title={title}
    />
    {label && <span>{label}</span>}
</a>
