---
import { format, formatDistanceToNow } from "date-fns";
import { de } from "date-fns/locale";

import type { CollectionEntry } from "astro:content";
import { Image, Picture } from "astro:assets";

export interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const href = `/blog/${post.slug}`;
---

<article class:list={["flex", "flex-col", "mb-5"]}>
    <a class="unset border-none" href={href}>
        <Picture
            class="w-full h-auto rounded-xl"
            formats={["webp", "avif"]}
            widths={[400, 800, 1200]}
            sizes="(max-width: 1200px) 100vw, 1200px"
            src={post.data.cover.src}
            alt={post.data.cover.alt}
            width={800}
            height={250}
        />
    </a>
    <div class="py-4 p-3 md:p-5 flex flex-col h-full">
        <h2 class="text-lg font-bold text-slate-800 dark:text-slate-100">
            {post.data.title}
        </h2>
        <small
            slot="post-title"
            title={format(post.data.pubDate, "dd.MM.yyyy", {
                locale: de,
            })}
        >
            {
                formatDistanceToNow(post.data.pubDate, {
                    locale: de,
                    addSuffix: true,
                })
            }
        </small>
        <p class="mt-1 text-slate-800 dark:text-slate-400 h-full">
            {post.data.lead}
        </p>
    </div>
    <div class="flex flex-row-reverse">
        <a class="self-start gap-2 font-medium justify-end" href={href}>
            zum Post
        </a>
    </div>
</article>
