---
import dayjs from "dayjs";

import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";

export interface Props {
    post: CollectionEntry<"blog">;
    reverse?: boolean;
}

const { post, reverse } = Astro.props;

const href = `/blog/${post.slug}`;
---

<article class:list={["flex", "flex-col", "my-3"]}>
    <div
        class="flex flex-col md:flex-row"
        class:list={[{ "md:flex-row-reverse": reverse }]}
    >
        <a class="unset border-none md:basis-1/3" href={href}>
            <Picture
                class="w-full h-auto rounded-xl"
                formats={["webp", "avif"]}
                widths={[400, 800, 1200]}
                sizes="(max-width: 1200px) 100vw, 1200px"
                src={post.data.cover.src}
                alt={post.data.cover.alt}
                width={800}
                height={250}
            />
        </a>
        <div class="p-3 md:py-0 md:px-5 md:basis-2/3 flex flex-col h-full">
            <a class="unset" href={href}>
                <h2
                    class="text-lg font-bold text-slate-800 dark:text-slate-100"
                >
                    {post.data.title}
                </h2></a
            >
            <small
                slot="post-title"
                title={dayjs(post.data.pubDate).format("DD.MM.YYYY")}
            >
                {dayjs(post.data.pubDate).fromNow()}
            </small>
            <p class="mt-1 text-slate-800 dark:text-slate-400 h-full">
                {post.data.lead}
            </p>
        </div>
    </div>

    <div class="flex flex-row-reverse">
        <a
            class="unset animated-link self-start gap-2 font-medium justify-end"
            href={href}
        >
            zum Post
        </a>
    </div>
</article>
