---
import TagItem from "@components/Blog/TagItem.astro";
import FancyHeading from "@components/Elements/FancyHeading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { format, formatDistanceToNow } from "date-fns";
import de from "date-fns/locale/de/index.js";

const { frontmatter } = Astro.props;

const readableDate = formatDistanceToNow(new Date(frontmatter.pubDate), {
  locale: de,
  addSuffix: true,
});
const exactDate = format(new Date(frontmatter.pubDate), "dd.MM.yyyy", {
  locale: de,
});
---

<BaseLayout pageTitle={frontmatter.title}>
  <Fragment slot="main">
    <article class="flex prose prose-schaermu flex-col sm:flex-row">
      <div class="md:basis-3/4">
        <FancyHeading color="blue">{frontmatter.title}</FancyHeading>
        <small class="block w-full text-center my-5"
          >Veröffentlicht {readableDate} (am {exactDate})</small
        >
        <div class="tags">
          {
            frontmatter.tags.map((tag: string) => (
              <TagItem label={tag} href={`/blog/tags/${tag}`} />
            ))
          }
        </div>
        <slot />
      </div>
    </article>
  </Fragment>
</BaseLayout>
